@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/Archivo-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("../assets/fonts/Archivo-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
